


/* ==========================================================================
    Global Style starts here
   ========================================================================== */
	header{position: static; 
    top:0; 
    height: 25%; 
    text-align: center; 
    width:100%;
    }




  body { 
    margin-top: 0px;  
    margin-bottom: 50px;  
    color: #9d9d9d;}
	h1, h2, h3, h4, h5, h6{margin: 0;
  }

	h1 {
    font-size: 24px; 
    line-height: 30px; 
    color: #716a72; 
  }

	h2{font-size: }

	p{font-size: 15px; 
    color: #9d9d9d; 
    line-height: 24px; 
    padding-bottom: 25px; 
    font-family: 'source_sans_proregular'; 
    margin-bottom: 0;
  }
	
  img {
    padding-left: 30px;
    padding-right: 30px;
  }

  ul {
  list-style: none;
}



/* ==========================================================================
    Navigation bar
   ========================================================================== */
	.site-header {
    text-align: center; 
    padding-top: 35px; 
    background: #fafafa; 
    border-radius: 3px 3px 0 0;
  }


	.logo h1 {
    font-size: 40px; 
    line-height: 52px; 
    color: #000; 
    text-transform: uppercase; 
    border-bottom: 1px 
    solid #eaeaea;
		padding-bottom: 30px;  
    font-family: 'source_sans_problack'; 
    letter-spacing: 7px;
    text-shadow: 0px 5px 50px #000;
  }



/* ==========================================================================
                          
   ========================================================================== */


	.menu {
    padding-top: 30px; 
    padding-bottom: 45px; 
    text-align: center;
  }

	.menu .navbar {
    display: inline-block;  
    font-family: 'source_sans_prolight'; 
    margin-bottom: 0;
  }

  .menu .navbar .nav > .active > a {
    color: #716a72; 
    background: none; 
    background-image: none;
  }

  .menu .navbar .nav > .active > a:hover {
    background: none; 
    background-image: none; 
    box-shadow: none;
  }

  .menu .navbar .nav > li > a {
    color: #716a72; 
    font-size: 16px; 
    text-transform: uppercase; 
    padding-right: 75px; 
    text-shadow: none; 
    box-shadow: none; 
    letter-spacing: 1px;
  }

  .menu .navbar .nav > li > a:hover {
    color: #00BFFF;
    background-color: #000;
  }





  .navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  }

  .navbar .nav.pull-right {
    float: right;
    margin-right: 0;
  }

  .navbar .nav > li {
    float: left;
  }

  .navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
  }

.navbar-inner:before,
.navbar-inner:after {
  display: table;
  line-height: 0;
  content: "";
}

.navbar-inner:after {
  clear: both;
}

.navbar .container {
  width: auto;
}

.nav-collapse.collapse {
  height: auto;
  overflow: visible;
}




.navbar-static-top {
  position: static;
  margin-bottom: 0;
}



.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 1px;
}

.navbar-fixed-bottom .navbar-inner {
  border-width: 1px 0 0;
}







.navbar .nav.pull-right {
  float: right;
  margin-right: 0;
}

.navbar .nav > li {
  float: left;
}




/*=====================================================================
                                Graph Headings
  ====================================================================*/

#graph-h {
  text-align: center;
  text-decoration-style: bold;
  text-decoration-color: black;
}


/*=====================================================================
                                Gallery/ Title Image
  ====================================================================*/



  #gallery-title-image {
    margin-left: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(200px, auto);
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
  }
/*=====================================================================
                                Gallery/ Images
  ====================================================================*/

#gallery {
  margin-left: 200px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

#gallery div {
  background: #ffffff;
  padding: 0;
}

#gallery h2 {
  text-align: center;
  padding-top: 55px;
}

#gallery div:nth-child(even){
  background: #ffffff;
}


/*=====================================================================
                                Map
  ====================================================================*/

#map {
  margin-left: 200px;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

#gallery div {
  background: #ffffff;
  padding: 0;
}

#gallery h2 {
  text-align: center;
  padding-top: 55px;
}

#gallery div:nth-child(even){
  background: #ffffff;
}


/*=====================================================================
                                Gallery2/ single text
  ====================================================================*/
#gallery2 {
  margin-left: 200px;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

#gallery2 div {
  background: #ffffff;
  padding: 15px;
}


#gallery2 div:nth-child(even){
  background: #ffffff;
}


/*=====================================================================
                                Gallery3/ three column
  ====================================================================*/
#gallery3 {
  margin-left: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: minmax(100px, auto);
  max-width: 1300px;
  margin: 0 auto;
  text-align: left;
}

#gallery3 div {
  background: #ffffff;
  padding: 5px;
}

#gallery3 h2 {
  text-align: center;
  padding-top: 55px;
}

#gallery3 div:nth-child(even){
  background: #ffffff;
}

/*=====================================================================
                                Gallery3d column to right
  ====================================================================*/

#gallery3d {
  float:right;
  margin-left: 1150px;
  padding-right: 90px;
  }

#gallery3d div {
  background: #ffffff;
  padding: 5px;
}

#gallery3d h2 {
  text-align: center;
  padding-top: 55px;
}

#gallery3d div:nth-child(even){
  background: #ffffff;
}



/*=====================================================================
                               Legend
  ====================================================================*/




/*=====================================================================
                               Legend
  ====================================================================*/

.legend_One {
    list-style: none;
    text-align: left;
    margin-left: 250px;
    margin-right: 250px;
    padding: 0 0 40px 0;
    font-family: segoe UI;
    font-size: 13px;
    font-weight: lighter;
    line-height: 180%;
}


  .legend_One ul {
    display: block;
    list-style-type: square;
    color:#00BFFF;
    font-size: 20px;
  }

    .legend_One ul li span {
    display: block;
    color:#000;
    font-size: 20px;
  }


/*=====================================================================
                                Map
  ====================================================================*/




  #map {
    text-align: center;
    margin: 200px;
    padding-top: 25px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(100px, 250px);
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
  }

  #menu { 


    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; }

  #menu {
      background: #fff;
      position: absolute;
      z-index: 1;
      top: 1360px;
      right: 20px;
      bottom:25px;
      right: 70px ;
      border-radius: 3px;
      width: 180px;
      border: 1px solid rgba(0,0,0,0.4);
      font-family: 'Open Sans', sans-serif;
  }

  #menu a {
      font-size: 13px;
      color: #404040;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid rgba(0,0,0,0.25);
      text-align: center;
  }

  #menu a:last-child {
      border: none;
  }

  #menu a:hover {
      background-color: #f8f8f8;
      color: #404040;
  }

  #menu a.active {
      background-color: #3887be;
      color: #ffffff;
  }

  #menu a.active:hover {
      background: #3074a4;
  }


/*  #map { position:fixed; left:0; right:30%; bottom:0; height:75%; }*/

 

/*=====================================================================
                                Headings
  ====================================================================*/



.center h2{
  font-size: 40px;
  font-family: 'source_sans_prolight' ;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center;
  color: #000; 
  text-transform:uppercase;
}


#portfolio .lead {
  text-align:center;
  font-size:10px;
  margin-bottom:40px;
}

#portfolio {
  padding-top:40px;
  position:center;
}


.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 0;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #F77CAD ;
  border: 1px solid #F77CAD ;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
}



/*=====================================================================
                                Image switch
  ====================================================================*/


#tab-container-1-nav {
margin:0;
padding:0;
}

#tab-container-1-nav li {
list-style:none;
float:left;
padding:0;
margin:0;
padding-right:8px;
padding-bottom:3px;
}

#tab-container-1-nav li a img {
padding:3px;
border:1px solid #eee;
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;

}

#tab-container-1-nav li a:hover img, #tab-container-1-nav li a.active img {
padding:3px;
border:1px solid #ccc;
filter:alpha(opacity=99);
-moz-opacity:0.99;
-khtml-opacity: 0.99;
opacity: 0.99;
}

.tab img {
padding:5px;
border:1px solid #eee;
}

p.info strong {
display:block;
color:#222;
font:15px Georgia;
}

p.info {
color:#777;
font-size:11px;
margin-top:10px;
text-align:center;
}

.header {
padding-bottom:20px;
margin-bottom:10px;
padding-top:10px;
}

.header h1 {
margin-bottom:5px;
}

.header h3 {
color:#999;
font:20px Georgia;
font-style:italic;
}

p.credit {
float:right;
}

.content {
padding-bottom:20px;
}

.footer {
padding-top:20px;
border-top:1px solid #eee;
color:#777;
}




